
.footer-cont{
    position:fixed;
    top: calc(100vh - 3rem);
    height: 3rem;
    width:100vw;
    bottom: 0rem;
    background-color:#57606f;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color:#a2a9b1;
  }
  .footer{
    margin : 0 auto; 
  }

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    


}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}