
.footer-cont{
    position:fixed;
    top: calc(100vh - 2rem);
    height: 2rem;
    width:100vw;
    bottom: 0rem;
    background-color:#57606f;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color:#a2a9b1;
  }
  .footer{
    margin : 0 auto; 
    color: #a2a9b1;
  }
  .footer>*{
    color:  #a2a9b1;
  }

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    


}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
  .footer{
    justify-items: center;
  }
}