.header-cont{
    background-color: #57606f;  
    width :100vw;
    height : 3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    position: fixed;
    top:0rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 4px;
  }
  .header-cont > *{
    margin-left:1rem;
    position: absolute;
    left:20rem;
    margin-top:0.5rem ;
    color:#ebeef1;
    font-size: x-large;
    text-decoration: none;
  }
  .heading-home{
    margin-left:1rem;
    position: absolute;
    left:1rem;
    margin-top:0.5rem ;
    color:#ebeef1;
    font-size: x-large;
    text-decoration: none; 
  }
  .heading-home:hover{
    color: #b2bdc9;
  }




  @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .header-cont > *{
      left:10rem;
    }
    .heading-home{
      left:1rem;
    }

}
@media only screen and (max-width: 700px){
	/*Big smartphones [426px -> 600px]*/
  .header-cont>*{
    display: none;
  }
  .heading-home{
    display: flex;
  }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}