
  .Profile-cont{
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 22rem;
  }
  .Profile-name-btn{
    position: absolute;
    right:1.3rem;
    top:0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Profile-name{
    color: #f1f2f6;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .Profile-btn{
    color: #ffffff;
    border-radius: 50%;
    width:3vw;
    height:6vh;
    background-color:#697d94 ;
    padding-top:0.4rem;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 0.1rem solid #ffffff;
  }
  .Profile-btn>*{
    position: relative;
    left:0.8rem;
  }
  .Profile-btn:hover{
    background-color:#919dac ;
    cursor: pointer;
  }
  .Profile-box{
    position: absolute;
    z-index:3;
    overflow: scroll;
    top:3.5rem;
    right:1.5rem;
    background-color: #d1d8e0;
    display: flex;
    flex-direction: column;
    width:20vw;
    height:70vh;
    border-radius: 0.4rem;
    padding-left: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .Profile-box>div{
    margin-top: 1rem;
    font-size: 1.4rem;
    color:#666b72 ;
    text-align: left;
    padding-left: 2rem;
    cursor: pointer;
  }
  .Profile-box>div:hover{
    color:#040608 ;
    font-size: 1.8rem;
  }
  .Profile-box>div>i{
    margin-right: 1rem;
  }
  .Profile-box>div>hr{
    margin-left:0.2rem;
    margin-right: 0.2rem;
    width:85%;
  }
  .Profile{
    position: fixed;
    top:50%;
    z-index:1;
    /* overflow-y:scroll; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height:calc(100vh - 20%);
    /* height:calc( 100vh); */
    background-color:#ffffff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .profile-heading{
    width:80%;
    height:4rem;
    margin-top:2rem;
    position: fixed;
    top:0.5rem;
  }
  .profile-heading>.back-button{
    float: left;
    margin-left: 3rem;
    top:2rem;
  }
  .profile-heading>.back-button>i{
    color:#e9eef3;
  }
  .profile-heading>.back-button>i:hover{
    cursor: pointer;
    color:#657688;
  }
  .profile-heading>.heading{
      margin-left: 10rem;
      font-size:1.5rem;
  }
  .profile-heading>hr{
      margin-left: 15rem;
      width:60%;
      opacity:0.2;
      height:0.2rem
  }
  .Notifications-cnt{
    position: fixed;
    top:50%;
    z-index:1;
    /* overflow-y:scroll; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height:calc(100vh - 15%);
    /* height:calc( 100vh); */
    background-color:#ffffff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .notification-heading{
    width:80%;
    height:4rem;
    margin-top:2rem;
    position: fixed;
    top:0.5rem;
  }
  .notification-heading>.back-button{
    float: left;
    margin-left: 3rem;
    top:2rem;
  }
  .notification-heading>.back-button>i{
    color:#e9eef3;
  }
  .notification-heading>.back-button>i:hover{
    cursor: pointer;
    color:#657688;
  }
  .notification-heading>.heading{
      margin-left: 10rem;
      font-size:1.5rem;
  }
  .notification-heading>hr{
      margin-left: 15rem;
      width:60%;
      opacity:0.2;
      height:0.2rem
  }
.Courses-cont{
    background-color:#f0f3f7;
    top:3rem;
    bottom:2rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    overflow-y:scroll ;
    width:100%;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .Course-cont{
    background-color:#ffffff;
    /* border:0.1rem solid #b8c0c9 ; */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    width: 20vw;
    height: 35vh;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: spac; */
    align-items: center;
  }
  .Course-cont:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color:#e5e9ee ;
  }
  .Course-cont>button{
    margin-top:2rem;
    height: 4rem; 
    outline: none;
    border:none;
    cursor: pointer;
    width:65%;
    color:#4c5663;
    font-size:1.3rem;
    border-radius: 2rem;
    background-color: #cbcfd4;
  }
  .Course-cont>button:hover{
    background-color:#cbd5e0  ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  .course-name{
    margin-top: 1rem;
    font-size: 2.5rem;
    color:#6e7885;
  }
  .teacher-name{
    font-size: 1.5rem;
    color:#a3acb8;
  }
  .Course-cont>hr{
    width: 80%;
    color:#6e7885;
  }
  
  .Preferrence-cont{
    position: absolute;
    top:50%;
    overflow-y:scroll;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    min-height:calc( 100vh - 30%);
    background-color:#ffffff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .class-heading{
    width:80%;
    height:4rem;
    margin-top:2rem;
    position: fixed;
    top:0.5rem;
  }
  .class-heading>.back-button{
    float: left;
    margin-left: 3rem;
    top:2rem;
  }
  .class-heading>.back-button>i{
    color:#e9eef3;
  }
  .class-heading>.back-button>i:hover{
    cursor: pointer;
    color:#657688;
  }
  .class-heading>.heading{
      margin-left: 10rem;
  }
  .class-heading>hr{
      margin-left: 15rem;
  }
  
  .Preferrences{
      position: absolute; 
      top:7rem;
      left:0rem;
      right:3rem;   
      bottom:2rem;
      overflow-x:scroll;
      /* overflow-y: scroll; */
      display: flex;
      height:calc(calc( 100vh - 20%)- 10rem);
      /* flex-direction: row; */
      flex-wrap: wrap;
      /* flex-direction: column; */
      justify-content: space-evenly;
      align-items: center;
      gap:2rem;
      width:100%;
  }
  .PreferrenceForEachClass{
     position: relative;
     left:0rem;
    right: 4rem;
    width: 90%;
    min-height: 7rem;
    margin:1rem;
  }
  
 fieldset{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    min-height: 7rem;
 }
 .day-preferrence{
        border:0.1rem solid #b1b7bd;       
 }
 legend{
    color:#5e656e;
    font-size: 1.5rem;
 }
 .details{
     min-height:7rem;
     display: flex;
     justify-content: space-around  ;
 }
 .details>*{
     padding:1.5rem;
     font-size: 1.2rem;
     color: #5e656e;
 }
 
 .details>div>*{
    margin:0.6rem;
 }

 .details>div>input[type="radio"]{
    height:1.2rem;
    width:1.2rem;
 }

.send-preferrence{
    position: absolute;
    bottom:1rem;
    right:1rem;
    height:3rem;
    width:5rem;
    color:#5e656e;
    outline: none;
    border: none;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
}

.send-preferrence:hover{
    background-color: #838991;
    color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.extra-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #4c5663; */
    height:10rem;
    font-size: 1.2rem;
    color: #5e656e;
    margin-top: 1.5rem;
}

.extra-details>*{
    padding: 0.5rem;
    margin:0.5rem;
    /* background-color:#838991; */
    text-align: left;   
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    height: 4rem;
}

.vaccination-status-select{
    border:0.1rem solid #838991;
    border-radius: 2rem;
    font-size: 1rem;
    width:15rem;
    height: 2rem;
    cursor: pointer;
    color: #5e656e;
    outline: none;
}

.vaccination-status-select>option{
    border:0.1rem solid #838991;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.concern-option{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-between;
}

.NoPreferrenceMessage{
  color: rgb(218, 90, 90);
  font-size: 1.1rem;
}

.Notifications{
  position: absolute; 
  top:7rem;
  left:0rem;
  right:3rem;   
  bottom:1rem;
  overflow-y:scroll;
  margin-top:1rem;
  display: flex;
  height:calc(calc( 100vh - 20%)- 10rem);
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap:2rem;
  width:100%;
}
.notification>pre{
  overflow:auto
}

.Notifications>*{
  position: relative;
  left:0rem;
  right: 4rem;
  width: 90%;
  border:0.1rem solid #b1b7bd;
  /* font-size: 1.3rem; */
  text-align: center;  
  
}

.Notifications>div>div{
  padding:0rem;
}

.Notifications>div:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.sticky-cont {
  height: 18rem;
  width: 18rem;
  position: absolute;
  top: 15rem;
  left: 10rem;
}
.Notifications>div>hr{
  margin-left: 15rem;
  width:60%;
  opacity:0.2;
  height:0.2rem
}

.alert-notifications{
  width:1rem;
  height:1rem;
  position: absolute;
  background-color: red;
  left: 3.2rem;
  text-align: center;
  font-size: small;
  color:white;
  border-radius: 50%;
}
.StickyNote{
  position: absolute;
  right:2rem;
  bottom:5rem;
  width: 3rem;
  height:3rem;
}
.Notes{
  width: 100%;
  height: 100%;
}
.Notes:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.header-Sticky-cont {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #838991;;
}
.header-Sticky-cont > * {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
  display: flex;
  gap:0.5rem;
  align-items: center;
}
.title{
  width:calc(100% - 1.3rem - 1.3rem);
  text-align: left;
  color: whitesmoke;
  outline: none;
  border:none;
  padding:1rem;
  font-weight: bold;
}
.minimize {
  /* background-color: #2ed573; */
  text-align: center;
  color:white;
  border-radius: 50%; 
}
.remove {
  border-radius: 50%;
  /* background-color: #ff4757; */
  text-align: center;
  font-size: x-large;
  color:white
}
.note-cont {
  height: calc( 100% - 2rem );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: large;
}
#notify-Note-Opening {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 10%;
  bottom: 30px;
  font-size: 14px;
}

#notify-Note-Opening.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  


}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/

}
@media only screen and (max-width: 424px){
  /*Small smartphones [325px -> 425px]*/
  .Profile-name-btn{
    right: 0.5rem;
    top:-0.4rem
  }
  .Profile-btn{
    width:10vw;
    height:6vh;
    text-align: center;
    font-size: small;
  }
  .Profile-box{
    width:80vw;
    height: 80vh;
  }
  .Course-cont{
    height:50vh;
    width:100vw;
  }
  .Profile{
    z-index: 5;
    width: 95vw;
    overflow: scroll;
  }
  .profile-heading>hr{
    margin-left:2rem;
    width:100%
  }
  .notification-heading>hr{
  margin-left:2rem;
  width:100%
    }
  .setting-heading>hr{
    margin-left:2rem;
    width:100%
    }
  .user-email{
    width:80%;
  }
  .user-email>input{
    width: 100%;
  }
  .user-first-name{
    width:80%;
  }
  .user-first-name>input {
    width: 100%;
  }
  .user-last-name{
    width:80%;
  }
  .user-last-name>input {
    width: 100%;
  }

  .Notifications-cnt{
    z-index: 5;
    overflow: scroll;
    width: 95vw;
  }
  .change-pass-cnt{
    left: 2rem;
  }
  .Settings-cnt{
    z-index: 5;
    width: 95vw;
  }
  .FAQs-cnt{
    z-index: 5;
    width: 95vw;
  }
  .Preferrences{
    width:95vw;
  }
  .Preferrence-cont{
    width: 95vw;
  }
  .class-heading>.heading{
    font-size: 1.2rem;
  }
  
  }